@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
header .mobilNav {
  display: none;
}

header .nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 15px;
  color: #c4942e;
}
header .nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
header .nav ul li {
  margin: 0 20px;
}
header .nav ul li a {
  color: #c4942e;
  text-decoration: none;
  font-size: 18px;
}
header .nav .toggelBtn {
  display: none;
}
header .nav .mode {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #c4942e;
  color: white;
  border: none;
}

@media (max-width: 700px) {
  header .nav ul {
    display: none;
  }
  header .nav .toggelBtn {
    display: block;
    border: none;
    font-size: 30px;
    background-color: white;
  }
  header .nav .mode {
    display: none;
  }
  header .mobilNav {
    display: block;
    height: 100vh;
    background: #ededed;
    padding: 10px;
    transition: all 0.5s ease;
  }
  header .mobilNav div {
    display: flex;
    flex-direction: column;
  }
  header .mobilNav div a {
    margin: 30px auto;
  }
  header .mobilNav div a img {
    width: 200px;
  }
  header .mobilNav div ul {
    margin: 10px 0;
  }
  header .mobilNav div ul li {
    border-bottom: 1px solid #c4942e;
    list-style-type: none;
    margin-top: 30px;
  }
  header .mobilNav div ul li a {
    text-decoration: none;
    color: #c4942e;
    font-size: 18px;
  }
  header .mobilNav div button {
    background-color: #c4942e;
    padding: 20px;
    font-size: 18px;
    color: white;
    border: 1px solid #c4942e;
    margin: 30px 0;
  }
  header .hidden {
    height: 0;
  }
}
.heroSection {
  background: url("/images/dillon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.heroSection div {
  background-color: black;
  opacity: 0.5;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.heroSection h3 {
  color: #c4942e;
  z-index: 1;
  font-size: 4rem;
}
.heroSection p {
  color: white;
  margin: 40px 0;
  z-index: 1;
  font-size: 1.5rem;
  text-wrap: wrap;
  max-width: 800px;
  padding: 10px;
}
.heroSection button {
  z-index: 1;
  padding: 10px 20px;
  background-color: white;
  color: #c4942e;
  font-size: 20px;
  border: 2px solid #c4942e;
  border-radius: 10px;
}

.aboutSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 50px 0;
}
.aboutSection div {
  max-width: 600px;
  padding: 20px;
}
.aboutSection div h3 {
  font-size: 40px;
  color: #c4942e;
}
.aboutSection div p {
  font-size: 16px;
  margin-top: 30px;
}

.servicesSection {
  padding: 50px 0;
  background-color: #ededed;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.servicesSection div {
  margin: 30px 0;
  text-align: center;
}
.servicesSection div h3 {
  font-size: 40px;
  color: #c4942e;
}
.servicesSection div p {
  margin-top: 20px;
  padding: 10px;
}
.servicesSection .services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.servicesSection .services div {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  border: 1px solid #c4942e;
  background-color: white;
  height: 400px;
}
.servicesSection .services div i {
  font-size: 60px;
  color: #c4942e;
  padding: 20px 0;
}
.servicesSection .services div h4 {
  margin: 20px 0;
  font-size: 30px;
}

.contactSection {
  margin: 50px 0;
}
.contactSection .contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.contactSection .contact h3 {
  color: #c4942e;
  font-size: 30px;
}
.contactSection .contact p {
  font-size: 20px;
  margin: 30px 0;
  text-align: center;
}
.contactSection .infoContact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}
.contactSection .infoContact .info {
  border: 1px solid #c4942e;
  display: flex;
  margin: 20px;
}
.contactSection .infoContact .info i {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 30px;
  color: #c4942e;
}
.contactSection .infoContact .info div {
  padding: 10px;
}
.contactSection .infoContact .form {
  width: 90vh;
  margin: 20px;
}
.contactSection .infoContact .form form {
  background: #ededed;
  padding: 50px 20px;
  border-radius: 30px;
  border: 1px solid #c4942e;
}
.contactSection .infoContact .form form div {
  display: flex;
  flex-direction: column;
}
.contactSection .infoContact .form form div label {
  font-size: 18px;
  color: #c4942e;
  margin-top: 30px;
}
.contactSection .infoContact .form form div input, .contactSection .infoContact .form form div textarea {
  width: 100%;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid #c4942e;
  padding: 10px;
}
.contactSection .infoContact .form form .submitBtn {
  background-color: white;
  padding: 10px 30px;
  font-size: 18px;
  color: #c4942e;
  border: 1px solid #c4942e;
  border-radius: 10px;
  margin-top: 30px;
}

@media (max-width: 300px) {
  input {
    max-width: 300px;
  }
}
footer {
  background-color: #c4942e;
  text-align: center;
  padding: 30px 0;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", serif;
  box-sizing: border-box;
}

body {
  margin: auto;
  max-width: 1500px;
}/*# sourceMappingURL=styles.css.map */